<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutLoc" value="\\UNC\PATH\FilePrefix" />
    <add key="SQLMain" value="select columns from table where something = 'something' and datefield = @Date" />
    <add key="SQLCount" value="select COUNT(*) from table where something = 'something' and datefield = @Date" />
    <add key="SQLSum" value="select CONVERT(DECIMAL(10,2),SUM(column)) from table where something = 'something' and datefield = @Date" />
  </appSettings>
  <connectionStrings>
    <add name="DBLOWCon" connectionString="Server=dbserver;Database=dbname;User ID=authentication user;password=authentication password" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>